[submodule "tools/mockamap"]
	path = tools/mockamap
	url = git@github.com:mamariomiamo/mockamap.git
[submodule "sim_tools/mockamap"]
	path = sim_tools/mockamap
	url = git@github.com:mamariomiamo/mockamap.git
[submodule "sim_tools/rviz_plugin"]
	path = sim_tools/rviz_plugin
	url = git@github.com:mamariomiamo/rviz_plugin.git
[submodule "sim_tools/laser_simulator"]
	path = sim_tools/laser_simulator
	url = git@github.com:mamariomiamo/laser_simulator.git
	branch = main
[submodule "planner/offb_pkg"]
	path = planner/offb_pkg
	url = git@github.com:mamariomiamo/offb_pkg.git
[submodule "planner/quadrotor_msgs"]
	path = planner/quadrotor_msgs
	url = git@github.com:mamariomiamo/quadrotor_msgs.git
[submodule "planner/trajectory_publisher"]
	path = planner/trajectory_publisher
	url = git@github.com:mamariomiamo/trajectory_publisher.git
	branch = main
[submodule "sim_tools/map_gen"]
	path = sim_tools/map_gen
	url = git@github.com:mamariomiamo/map_gen.git
