<launch>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generator)/launch/include/map_gen.rviz" required="true" /> -->

    <!-- map -->
	<node pkg ="map_generator" name ="random_forest" type ="random_forest" output = "screen">
        <param name="map/x_size"     value="30" />
        <param name="map/y_size"     value="30" />
        <param name="map/z_size"     value="3" />
        <param name="map/resolution" value="0.1"/>
        <param name="ObstacleShape/seed" value="1"/>
        <param name="map/obs_num"    value="10"/>

        <!-- distribution bound for pillar radius -->
        <param name="ObstacleShape/lower_rad" value="1.5"/>
        <param name="ObstacleShape/upper_rad" value="1.5"/>
        <!-- distribution bound for pillar height -->
        <param name="ObstacleShape/lower_hei" value="3.0"/>
        <param name="ObstacleShape/upper_hei" value="3.0"/>


        <param name="map/circle_num" value="0"/>
        <!-- distribution bound for hoop radius -->
        <param name="ObstacleShape/radius_l" value="0.7"/>
        <param name="ObstacleShape/radius_h" value="0.5"/>
        <!-- distribution bound for hoop height -->
        <param name="ObstacleShape/z_l" value="0.7"/>
        <param name="ObstacleShape/z_h" value="0.8"/>
        <param name="ObstacleShape/theta" value="0.5"/>
        <param name="pub_rate"   value="1.0"/>
        <param name="min_distance" value="0.8"/>
    </node>    

</launch>